body {
    font: 20px Ariel, sans-serif;
}

.navbar  {
    background-color: #FAFAFA;
}

.quem-somos {
    background-color: #A9F5E1;
}

.margin {
    padding: 15px;
}

.parceiros {
    background-color: #BCF5A9;
}

.servicos {
    background-color: #F2F5A9;
}